<h2>Editing transaction</h2>

<% form_for(@transaction) do |f| %>
  <%= f.error_messages %>

  <%= f.label :transaction_date, "Date" %>
  <%= date_select :transaction, :transaction_date %>
  <br />
  <%= f.label :description, "Description" %>
  <%= f.text_field :description %>
  <br />
  <%= f.label :amount, "Amount" %>
  <%= f.text_field :amount %>
  <br />
  <%= f.label :category, "Category" %>
  <%= select("transaction", "category_id", 
             Category.find(:all, 
                           :order => 'name ASC').collect {|c| [c.name, c.id]}, 
             {:include_blank => true}) %>
  <%= hidden_field_tag "transaction[account_id]", params[:account_id] %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Back', :controller => 'accounts', :action => 'show', :id => params[:account_id] %>
