<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>breadbox</title>
<%= stylesheet_link_tag 'style' %>
 </head>
<body>
<div id="wrapper">
  <div id="content">
    <div id="header">
      <div id="logo">
        <h1>breadbox</h1>
        <h4>It stores your bread.</h4>
      </div>
      <div id="links">
        <ul>
          <li><%= link_to 'Home', :controller => 'home' %></li>
          <li><%= link_to 'Categories', categories_path %></li>
          <% Account.all.each do |account| %>
          <li><%= link_to account.name, account %></li><%- end %>
        </ul>
      </div>
    </div>
    <div id="mainimg">
      <h3><%= @account ? @account.name : "Welcome" %></h3>
      <h4><%= @account ? @account.identifier : "" %></h4>
    </div>
    <div id="contentarea">
      <div id="leftbar">
        <%= @content_for_layout %>
        <br />
        <br />
      </div>
      <div id="rightbar">
        <h2>Tools</h2>
        <% if @account %>
          <p><span class="orangetext">
          <% form_tag({:action => "import_from_file"}, {:multipart => true}) do %>
          <label for="file to upload">Import HomeBank
          CSV:</label><br />
          <%= file_field_tag "file", :size => '10' %>
          <%= hidden_field_tag :account_id, @account.id %>
          <%= submit_tag "Import" %>
          <% end %>
          </span>
        <% end %>
        <br />
        <p><span class="orangetext">12/08/2006</span><br />
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Utid anisl nec leo congue fringilla. <br />
          <br />
      </div>
    </div>
    <div id="bottom">
      <div id="email"><a href="mailto:info@yourcompany.com">info@yourcompany.com</a></div>
      <div id="validtext">
        <p>Valid <a href="http://validator.w3.org/check?uri=referer">XHTML</a> | <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
