<fieldset>
  <legend>New account</legend>
<% form_for(@account) do |f| %>
  <%= f.error_messages %>
<table>
  <tr>
    <td><%= f.label :name, "Name" %></td>
    <td><%= f.text_field :name %></td>
  </tr>
  <tr>
    <td><%= f.label :identifier, "Account number" %></td>
    <td><%= f.text_field :identifier %></td>
  </tr>
  <tr>
    <td><%= f.label :account_type, "Type" %></td>
    <td><%= f.text_field :account_type %></td>
  </tr>
  <tr>
    <td><%= f.label :initial_balance, "Initial balance" %></td>
    <td><%= f.text_field :initial_balance %></td>
  </tr>
</table>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>
</fieldset>
